nav {
  text-align: center;
}

nav a {
  font-size: 18px;
  margin: 10px;
}

h3 {
  text-align: center;
  color: blueviolet;
}

.music-box {
  display: block;
  text-align: center;
}

.music-box > p{
    display: block;
    text-align: center;
  }
  